<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nuc.bysjxtglxt.mapper.NucTopicMapper">
  <resultMap id="BaseResultMap" type="nuc.bysjxtglxt.domain.NucTopic">
    <!--@mbg.generated-->
    <!--@Table nuc_topic-->
    <id column="topic_id" jdbcType="BIGINT" property="topicId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="details" jdbcType="LONGVARCHAR" property="details" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    topic_id, title, introduction, details, user_id, create_time
  </sql>
</mapper>